<!DOCTYPE html>

<!--[if IE 8]><html class="ie8"><![endif]-->
<!--[if IE 9]><html class="ie9"><![endif]-->
<!--[if gt IE 9]><!--><html><!--<![endif]-->
<head>
  <title>猫眼电影 - 一网打尽好电影</title>
  
  <link rel="dns-prefetch" href="//p0.meituan.net"  />
  <link rel="dns-prefetch" href="//p1.meituan.net"  />
  <link rel="dns-prefetch" href="//ms0.meituan.net" />
  <link rel="dns-prefetch" href="//ms1.meituan.net" />
  <link rel="dns-prefetch" href="//analytics.meituan.com" />
  <link rel="dns-prefetch" href="//report.meituan.com" />
  <link rel="dns-prefetch" href="//frep.meituan.com" />

  
  <meta charset="utf-8">
  <meta name="keywords" content="电影,电视剧,票房,美剧,猫眼电影,电影排行榜,电影票,经典电影,在线观看">
  <meta name="description" content="国内观众优选的在线购票平台，用户流行的观影决策平台。">
  <meta http-equiv="cleartype" content="yes" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="renderer" content="webkit" />

  <meta name="HandheldFriendly" content="true" />
  <meta name="format-detection" content="email=no" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  
  <script>
  cid = "c_6jadt9m";
  ci = 55;
    window.system = {};

  window.openPlatform = '';

  </script>
  <link rel="stylesheet" href="/static/css/common.4b838ec3.css"/>
<link rel="stylesheet" href="/static/css/home-index.10e05d67.css"/>
  <script src="/static/js/stat.583e6097.js"></script>
  <script>if(window.devicePixelRatio >= 2) { document.write('<link rel="stylesheet" href="/static/css/image-2x.8ba7074d.css"/>') }</script>

<meta name="msvalidate.01" content="F338006073F396CBBDA443AAB6A8BA47" />
<meta name="360-site-verification" content="6f1d12912a62a74ce2f1b3c2e75f6c23" />
<meta name="sogou_site_verification" content="uh9MkgvBm3"/>
  <style>
    @font-face {
      font-family: stonefont;
      src: url('//vfile.meituan.net/colorstone/61792338d9976bb6c2501ca983bfee9c3168.eot');
      src: url('//vfile.meituan.net/colorstone/61792338d9976bb6c2501ca983bfee9c3168.eot?#iefix') format('embedded-opentype'),
           url('//vfile.meituan.net/colorstone/aa546d6ad2f23ee1a3cb733b19cd78802076.woff') format('woff');
    }

    .stonefont {
      font-family: stonefont;
    }
  </style>
</head>
<body>


<div class="header">
  <div class="header-inner">
        <a href="/" class="logo" data-act="icon-click"></a>
        <div class="city-container" data-val="{currentcityid:55 }">
            <div class="city-selected">
                <div class="city-name">
                  南京
                  <span class="caret"></span>
                </div>
            </div>
            <div class="city-list" data-val="{ localcityid: 55 }">
                <div class="city-list-header">定位城市：<a class="js-geo-city">南京</a></div>
                
            </div>
        </div>


        <div class="nav">
            <ul class="navbar">
                <li><a href="/" data-act="home-click"  class="active"  >首页</a></li>
                <li><a href="/films" data-act="movies-click" >电影</a></li>
                <li><a href="/cinemas" data-act="cinemas-click" >影院</a></li> 
                
                <li><a href="/board" data-act="board-click" >榜单</a></li>
                <li><a href="/news" data-act="hotNews-click" >热点</a></li>
            </ul>
        </div>

        <div class="user-info">
            <div class="user-avatar J-login">
              <img src="/static/picture/7dd82a16316ab32c8359debdb04396ef2897.png">
              <span class="caret"></span>
              <ul class="user-menu">
                <li><a href="javascript:void 0">登录</a></li>
              </ul>
            </div>
        </div>

        <form action="/query" target="_blank" class="search-form" data-actform="search-click">
            <input name="kw" class="search" type="search" maxlength="32" placeholder="找影视剧、影人、影院" autocomplete="off">
            <input class="submit" type="submit" value="">
        </form>

        <div class="app-download">
          <a href="/app" target="_blank">
            <span class="iphone-icon"></span>
            <span class="apptext">APP下载</span>
            <span class="caret"></span>
            <div class="download-icon">
                <p class="down-title">扫码下载APP</p>
                <p class='down-content'>选座更优惠</p>
            </div>
          </a>
        </div>
  </div>
</div>
<div class="header-placeholder"></div>

<div class="banner">
  <div class="slider single-item slider-banner">
  <a target="_blank" data-act="bannerNews-click" href="/films/news/36804" data-bgUrl="http://p0.meituan.net/mmc/07508d00711c66320ae094dbd45187da181772.jpg"></a>
  <a target="_blank" data-act="bannerNews-click" href="/films/news/36636" data-bgUrl="http://p1.meituan.net/mmc/7bc65df39de1466f5f5c7fbade90cc05137667.jpg"></a>
  <a target="_blank" data-act="bannerNews-click" href="/films/news/36310" data-bgUrl="http://p0.meituan.net/mmc/310f9db7b4b193d5ed49d8ee3b29434d178539.jpg"></a>
  <a target="_blank" data-act="bannerNews-click" href="/films/news/36298" data-bgUrl="http://p0.meituan.net/mmc/560a177a4feb0de6d2407d187b8c577136689.jpg"></a>
  <a target="_blank" data-act="bannerNews-click" href="/films/news/36139" data-bgUrl="http://p0.meituan.net/mmc/ce724f4a95af6ae4a6bd12391492511d140247.jpg"></a>
  <a target="_blank" data-act="bannerNews-click" href="/films/news/36311" data-bgUrl="http://p1.meituan.net/mmc/3dcef207d59433fa8688b2d4383b20e7161886.jpg"></a>
</div>

</div>

    <div class="container" id="app" class="page-home/index" >
<div class="content">
  <div class="aside">
    <div class="ranking-box-wrapper">
  <div class="panel">
    <div class="panel-header">
      <span class="panel-title">
        <span class="textcolor_red">今日票房</span>
      </span>
    </div>
    <div class="panel-content">
            <ul class="ranking-wrapper ranking-box">
            <li  class="ranking-item ranking-top ranking-index-1">
      <a href="/films/341624" target="_blank" data-act="ticketList-movie-click" data-val="{movieid:341624}">
        <div class="ranking-top-left">
          <i class="ranking-top-icon"></i>
            <img class="ranking-img  default-img" data-src="/static/picture/1379dace580dcf97fe9e0e0e0b2d51bd292732.jpg@120w_80h_1e_1c" />
        </div>
        <div class="ranking-top-right">
          <div class="ranking-top-right-main">
            <span class="ranking-top-moive-name">狂暴巨兽</span>


              <p class="ranking-top-wish">
                  <span class="stonefont">&#xe6da;&#xe704;&#xf17b;&#xe6da;.&#xef62;&#xf076;</span>万
              </p>
          </div>
        </div>
      </a>
    </li>

            <li class="ranking-item ranking-index-2">
      <a href="/films/341178" target="_blank" data-act="ticketList-movie-click" data-val="{movieid:341178}">
          <span class="normal-link">
            <i class="ranking-index">2</i>
            <span class="ranking-movie-name">头号玩家</span>

            <span class="ranking-num-info">
                <span class="stonefont">&#xe02e;&#xf076;&#xef9a;.&#xe02e;&#xe02e;</span>万
              </span>
          </span>
      </a>
    </li>

            <li class="ranking-item ranking-index-3">
      <a href="/films/338426" target="_blank" data-act="ticketList-movie-click" data-val="{movieid:338426}">
          <span class="normal-link">
            <i class="ranking-index">3</i>
            <span class="ranking-movie-name">湮灭</span>

            <span class="ranking-num-info">
                <span class="stonefont">&#xe6da;&#xe02e;&#xf17b;.&#xe704;&#xef9a;</span>万
              </span>
          </span>
      </a>
    </li>

            <li class="ranking-item ranking-index-4">
      <a href="/films/881837" target="_blank" data-act="ticketList-movie-click" data-val="{movieid:881837}">
          <span class="normal-link">
            <i class="ranking-index">4</i>
            <span class="ranking-movie-name">起跑线</span>

            <span class="ranking-num-info">
                <span class="stonefont">&#xe6da;&#xe704;&#xe6da;.&#xe8c0;&#xe704;</span>万
              </span>
          </span>
      </a>
    </li>

            <li class="ranking-item ranking-index-5">
      <a href="/films/1217637" target="_blank" data-act="ticketList-movie-click" data-val="{movieid:1217637}">
          <span class="normal-link">
            <i class="ranking-index">5</i>
            <span class="ranking-movie-name">厉害了，我的国</span>

            <span class="ranking-num-info">
                <span class="stonefont">&#xef9a;&#xe704;.&#xeae0;&#xe02e;</span>万
              </span>
          </span>
      </a>
    </li>

            <li class="ranking-item ranking-index-6">
      <a href="/films/1182552" target="_blank" data-act="ticketList-movie-click" data-val="{movieid:1182552}">
          <span class="normal-link">
            <i class="ranking-index">6</i>
            <span class="ranking-movie-name">红海行动</span>

            <span class="ranking-num-info">
                <span class="stonefont">&#xeae0;&#xe8c0;.&#xf076;&#xe704;</span>万
              </span>
          </span>
      </a>
    </li>

            <li class="ranking-item ranking-index-7">
      <a href="/films/345991" target="_blank" data-act="ticketList-movie-click" data-val="{movieid:345991}">
          <span class="normal-link">
            <i class="ranking-index">7</i>
            <span class="ranking-movie-name">暴裂无声</span>

            <span class="ranking-num-info">
                <span class="stonefont">&#xeae0;&#xe02e;.&#xf50b;&#xe6da;</span>万
              </span>
          </span>
      </a>
    </li>

            <li class="ranking-item ranking-index-8">
      <a href="/films/341941" target="_blank" data-act="ticketList-movie-click" data-val="{movieid:341941}">
          <span class="normal-link">
            <i class="ranking-index">8</i>
            <span class="ranking-movie-name">冰雪女王3：火与冰</span>

            <span class="ranking-num-info">
                <span class="stonefont">&#xe6da;&#xf50b;.&#xf50b;&#xf076;</span>万
              </span>
          </span>
      </a>
    </li>

            <li class="ranking-item ranking-index-9">
      <a href="/films/1212518" target="_blank" data-act="ticketList-movie-click" data-val="{movieid:1212518}">
          <span class="normal-link">
            <i class="ranking-index">9</i>
            <span class="ranking-movie-name">西北风云</span>

            <span class="ranking-num-info">
                <span class="stonefont">&#xe6da;&#xe02e;.&#xef62;&#xef9a;</span>万
              </span>
          </span>
      </a>
    </li>

            <li class="ranking-item ranking-index-10">
      <a href="/films/78460" target="_blank" data-act="ticketList-movie-click" data-val="{movieid:78460}">
          <span class="normal-link">
            <i class="ranking-index">10</i>
            <span class="ranking-movie-name">环太平洋：雷霆再起</span>

            <span class="ranking-num-info">
                <span class="stonefont">&#xe6da;&#xe02e;.&#xf17b;&#xeae0;</span>万
              </span>
          </span>
      </a>
    </li>

</ul>


    </div>
  </div>
    </div>

    <div class="box-total-wrapper clearfix">
        <h3>今日大盘</h3>
        <div>
          <p>
            <span class="num"><span class="stonefont">&#xe6da;&#xef9a;&#xe8c0;&#xe6da;.&#xf076;</span></span>万
            <a class="more" target="_blank" data-act="moreDayTip-click" href="https://piaofang.maoyan.com/">查看更多 <span class="panel-arrow panel-arrow-red"></span></a>
          </p>
          <p class="meta-info">
            北京时间 14:04:00
            <span class="pull-right">猫眼专业版实时票房数据</span>
          </p>
        </div>
    </div>

    <div class="most-expect-wrapper">
  <div class="panel">
    <div class="panel-header">
      <span class="panel-more">
        <a href="/board/6" class="textcolor_orange" data-act="all-mostExpect-click">
          <span>查看完整榜单</span>
        </a>
        <span class="panel-arrow panel-arrow-orange"></span>
      </span>
      <span class="panel-title">
        <span class="textcolor_orange">最受期待</span>
      </span>
    </div>
    <div class="panel-content">
            <ul class="ranking-wrapper ranking-mostExpect">
            <li  class="ranking-item ranking-top ranking-index-1">
      <a href="/films/1203437" target="_blank" data-act="mostExpect-movie-click" data-val="{movieid:1203437}">
        <div class="ranking-top-left">
          <i class="ranking-top-icon"></i>
            <img class="ranking-img  default-img" data-src="/static/picture/17be410696ad651767eb719feb781bc0436644.png@140w_194h_1e_1c" />
        </div>
        <div class="ranking-top-right">
          <div class="ranking-top-right-main">
            <span class="ranking-top-moive-name">影</span>

              <p class="ranking-release-time">上映时间：2018</p>

              <p class="ranking-top-wish">
                  <span class="stonefont">&#xef9a;&#xe8c0;&#xe02e;&#xef62;&#xf50b;</span>人想看
              </p>
          </div>
        </div>
      </a>
    </li>

            <li class="ranking-item ranking-index-2">
      <a href="/films/248907" target="_blank" data-act="mostExpect-movie-click" data-val="{movieid:248907}">
          <i class="ranking-index">2</i>
          <span class="img-link"><img class="ranking-img default-img" src="/static/picture/43edf4d8e9d1e6ebcee12957a74ac20a528345.jpg@170w_118h_1e_1c" /></span>
          <div class="name-link ranking-movie-name">新乌龙院之笑闹江湖</div>

          <span class="ranking-num-info"><span class="stonefont">&#xe6da;&#xf50b;&#xf50b;&#xe6da;&#xf076;&#xef9a;</span>人想看</span>
      </a>
    </li>

            <li class="ranking-item ranking-index-3">
      <a href="/films/344950" target="_blank" data-act="mostExpect-movie-click" data-val="{movieid:344950}">
          <i class="ranking-index">3</i>
          <span class="img-link"><img class="ranking-img default-img" src="/static/picture/a39b7601d341bcf0bf65d27a6695bf1c471972.jpg@170w_118h_1e_1c" /></span>
          <div class="name-link ranking-movie-name">21克拉</div>

          <span class="ranking-num-info"><span class="stonefont">&#xe6da;&#xe6da;&#xeae0;&#xe6da;&#xf50b;&#xf50b;</span>人想看</span>
      </a>
    </li>

            <li class="ranking-item ranking-index-4">
      <a href="/films/1207260" target="_blank" data-act="mostExpect-movie-click" data-val="{movieid:1207260}">
          <span class="normal-link">
            <i class="ranking-index">4</i>
            <span class="ranking-movie-name">如影随心</span>

            <span class="ranking-num-info">
                <span class="stonefont">&#xf50b;&#xf17b;&#xe704;&#xf50b;&#xef62;</span>人想看
              </span>
          </span>
      </a>
    </li>

            <li class="ranking-item ranking-index-5">
      <a href="/films/672184" target="_blank" data-act="mostExpect-movie-click" data-val="{movieid:672184}">
          <span class="normal-link">
            <i class="ranking-index">5</i>
            <span class="ranking-movie-name">中邪</span>

            <span class="ranking-num-info">
                <span class="stonefont">&#xef62;&#xe8c0;&#xe6da;&#xef9a;&#xe8c0;</span>人想看
              </span>
          </span>
      </a>
    </li>

            <li class="ranking-item ranking-index-6">
      <a href="/films/344162" target="_blank" data-act="mostExpect-movie-click" data-val="{movieid:344162}">
          <span class="normal-link">
            <i class="ranking-index">6</i>
            <span class="ranking-movie-name">脱单告急</span>

            <span class="ranking-num-info">
                <span class="stonefont">&#xe02e;&#xef62;&#xeae0;&#xef9a;&#xf50b;</span>人想看
              </span>
          </span>
      </a>
    </li>

            <li class="ranking-item ranking-index-7">
      <a href="/films/1199029" target="_blank" data-act="mostExpect-movie-click" data-val="{movieid:1199029}">
          <span class="normal-link">
            <i class="ranking-index">7</i>
            <span class="ranking-movie-name">玛丽与魔女之花</span>

            <span class="ranking-num-info">
                <span class="stonefont">&#xe02e;&#xe6da;&#xe704;&#xe8c0;&#xeae0;</span>人想看
              </span>
          </span>
      </a>
    </li>

            <li class="ranking-item ranking-index-8">
      <a href="/films/346637" target="_blank" data-act="mostExpect-movie-click" data-val="{movieid:346637}">
          <span class="normal-link">
            <i class="ranking-index">8</i>
            <span class="ranking-movie-name">幕后玩家</span>

            <span class="ranking-num-info">
                <span class="stonefont">&#xf17b;&#xf17b;&#xef9a;&#xef62;&#xe8c0;</span>人想看
              </span>
          </span>
      </a>
    </li>

            <li class="ranking-item ranking-index-9">
      <a href="/films/341628" target="_blank" data-act="mostExpect-movie-click" data-val="{movieid:341628}">
          <span class="normal-link">
            <i class="ranking-index">9</i>
            <span class="ranking-movie-name">侏罗纪世界2</span>

            <span class="ranking-num-info">
                <span class="stonefont">&#xe8c0;&#xe02e;&#xef62;&#xe704;&#xef62;</span>人想看
              </span>
          </span>
      </a>
    </li>

            <li class="ranking-item ranking-index-10">
      <a href="/films/257714" target="_blank" data-act="mostExpect-movie-click" data-val="{movieid:257714}">
          <span class="normal-link">
            <i class="ranking-index">10</i>
            <span class="ranking-movie-name">新哥斯拉</span>

            <span class="ranking-num-info">
                <span class="stonefont">&#xef62;&#xe8c0;&#xe6da;&#xe8c0;&#xef9a;</span>人想看
              </span>
          </span>
      </a>
    </li>

</ul>


    </div>
  </div>
    </div>

    <div class="top100-wrapper">
  <div class="panel">
    <div class="panel-header">
      <span class="panel-more">
        <a href="/board/4" class="textcolor_orange" data-act="all-TOP100-click">
          <span>查看完整榜单</span>
        </a>
        <span class="panel-arrow panel-arrow-orange"></span>
      </span>
      <span class="panel-title">
        <span class="textcolor_orange">TOP 100</span>
      </span>
    </div>
    <div class="panel-content">
            <ul class="ranking-wrapper ranking-top100">
            <li  class="ranking-item ranking-top ranking-index-1">
      <a href="/films/1203" target="_blank" data-act="TOP100-movie-click" data-val="{movieid:1203}">
        <div class="ranking-top-left">
          <i class="ranking-top-icon"></i>
            <img class="ranking-img  default-img" data-src="/static/picture/2d52f6932ca2f47871ca27801c71e4cf98763.jpg@120w_80h_1e_1c" />
        </div>
        <div class="ranking-top-right">
          <div class="ranking-top-right-main">
            <span class="ranking-top-moive-name">霸王别姬</span>


              <p class="ranking-top-wish">
                  <span class="stonefont">&#xe8c0;.&#xef62;</span>分
              </p>
          </div>
        </div>
      </a>
    </li>

            <li class="ranking-item ranking-index-2">
      <a href="/films/1297" target="_blank" data-act="TOP100-movie-click" data-val="{movieid:1297}">
          <span class="normal-link">
            <i class="ranking-index">2</i>
            <span class="ranking-movie-name">肖申克的救赎</span>

            <span class="ranking-num-info">
                <span class="stonefont">&#xe8c0;.&#xf50b;</span>分
              </span>
          </span>
      </a>
    </li>

            <li class="ranking-item ranking-index-3">
      <a href="/films/2641" target="_blank" data-act="TOP100-movie-click" data-val="{movieid:2641}">
          <span class="normal-link">
            <i class="ranking-index">3</i>
            <span class="ranking-movie-name">罗马假日</span>

            <span class="ranking-num-info">
                <span class="stonefont">&#xe8c0;.&#xe6da;</span>分
              </span>
          </span>
      </a>
    </li>

            <li class="ranking-item ranking-index-4">
      <a href="/films/4055" target="_blank" data-act="TOP100-movie-click" data-val="{movieid:4055}">
          <span class="normal-link">
            <i class="ranking-index">4</i>
            <span class="ranking-movie-name">这个杀手不太冷</span>

            <span class="ranking-num-info">
                <span class="stonefont">&#xe8c0;.&#xf50b;</span>分
              </span>
          </span>
      </a>
    </li>

            <li class="ranking-item ranking-index-5">
      <a href="/films/1247" target="_blank" data-act="TOP100-movie-click" data-val="{movieid:1247}">
          <span class="normal-link">
            <i class="ranking-index">5</i>
            <span class="ranking-movie-name">教父</span>

            <span class="ranking-num-info">
                <span class="stonefont">&#xe8c0;.&#xe02e;</span>分
              </span>
          </span>
      </a>
    </li>

            <li class="ranking-item ranking-index-6">
      <a href="/films/267" target="_blank" data-act="TOP100-movie-click" data-val="{movieid:267}">
          <span class="normal-link">
            <i class="ranking-index">6</i>
            <span class="ranking-movie-name">泰坦尼克号</span>

            <span class="ranking-num-info">
                <span class="stonefont">&#xe8c0;.&#xf50b;</span>分
              </span>
          </span>
      </a>
    </li>

            <li class="ranking-item ranking-index-7">
      <a href="/films/123" target="_blank" data-act="TOP100-movie-click" data-val="{movieid:123}">
          <span class="normal-link">
            <i class="ranking-index">7</i>
            <span class="ranking-movie-name">龙猫</span>

            <span class="ranking-num-info">
                <span class="stonefont">&#xe8c0;.&#xeae0;</span>分
              </span>
          </span>
      </a>
    </li>

            <li class="ranking-item ranking-index-8">
      <a href="/films/837" target="_blank" data-act="TOP100-movie-click" data-val="{movieid:837}">
          <span class="normal-link">
            <i class="ranking-index">8</i>
            <span class="ranking-movie-name">唐伯虎点秋香</span>

            <span class="ranking-num-info">
                <span class="stonefont">&#xe8c0;.&#xeae0;</span>分
              </span>
          </span>
      </a>
    </li>

            <li class="ranking-item ranking-index-9">
      <a href="/films/2760" target="_blank" data-act="TOP100-movie-click" data-val="{movieid:2760}">
          <span class="normal-link">
            <i class="ranking-index">9</i>
            <span class="ranking-movie-name">魂断蓝桥</span>

            <span class="ranking-num-info">
                <span class="stonefont">&#xe8c0;.&#xeae0;</span>分
              </span>
          </span>
      </a>
    </li>

            <li class="ranking-item ranking-index-10">
      <a href="/films/1212" target="_blank" data-act="TOP100-movie-click" data-val="{movieid:1212}">
          <span class="normal-link">
            <i class="ranking-index">10</i>
            <span class="ranking-movie-name">千与千寻</span>

            <span class="ranking-num-info">
                <span class="stonefont">&#xe8c0;.&#xe02e;</span>分
              </span>
          </span>
      </a>
    </li>

</ul>


    </div>
  </div>
    </div>

  </div>
  <div class="main">
    <div class="movie-grid">
  <div class="panel">
    <div class="panel-header">
      <span class="panel-more">
        <a href="/films?showType=1" class="textcolor_red" data-act="all-playingMovie-click">
          <span>全部</span>
        </a>
        <span class="panel-arrow panel-arrow-red"></span>
      </span>
      <span class="panel-title">
        <span class="textcolor_red">正在热映（48部）</span>
      </span>
    </div>
    <div class="panel-content">
            <dl class="movie-list">
  <dd>
    <div class="movie-item">
      <a href="/films/341624" target="_blank" data-act="playingMovie-click" data-val="{movieid:341624}">
      <div class="movie-poster">
        <img class="poster-default" src="/static/picture/loading_2.e3d934bf.png" />
        <img data-src="/static/picture/75fc3610bfe91b6ad8ae5f186f1c2fd6294933.jpg@160w_220h_1e_1c" />
        <div class="movie-overlay movie-overlay-bg">
          <div class="movie-info">
            <div class="movie-score"><i class="integer">9.</i><i class="fraction">0</i></div>
            <div class="movie-title movie-title-padding"
              title="狂暴巨兽" >狂暴巨兽</div>
          </div>
        </div>
      </div>
      </a>
<div class="movie-detail movie-detail-strong movie-sale">
  <a href="/cinemas?movieId=341624"
  class="active" target="_blank" data-act="salePlayingMovie-click" data-val="{movieid:341624}" >购 票</a>
</div>
      <div class="movie-ver"><i class="imax3d"></i></div>
    </div>
  
  <dd>
    <div class="movie-item">
      <a href="/films/341178" target="_blank" data-act="playingMovie-click" data-val="{movieid:341178}">
      <div class="movie-poster">
        <img class="poster-default" src="/static/picture/loading_2.e3d934bf.png" />
        <img data-src="/static/picture/a547dd7f6851d7ced67ec1b6c8b7f3b2447754.jpg@160w_220h_1e_1c" />
        <div class="movie-overlay movie-overlay-bg">
          <div class="movie-info">
            <div class="movie-score"><i class="integer">9.</i><i class="fraction">1</i></div>
            <div class="movie-title movie-title-padding"
              title="头号玩家" >头号玩家</div>
          </div>
        </div>
      </div>
      </a>
<div class="movie-detail movie-detail-strong movie-sale">
  <a href="/cinemas?movieId=341178"
  class="active" target="_blank" data-act="salePlayingMovie-click" data-val="{movieid:341178}" >购 票</a>
</div>
      <div class="movie-ver"><i class="imax3d"></i></div>
    </div>
  
  <dd>
    <div class="movie-item">
      <a href="/films/343720" target="_blank" data-act="playingMovie-click" data-val="{movieid:343720}">
      <div class="movie-poster">
        <img class="poster-default" src="/static/picture/loading_2.e3d934bf.png" />
        <img data-src="/static/picture/f33ef36d1dc9a7b087b61480dc29d58d1027229.jpg@160w_220h_1e_1c" />
        <div class="movie-overlay movie-overlay-bg">
          <div class="movie-info">
            <div class="movie-title"
              title="后来的我们" >后来的我们</div>
          </div>
        </div>
      </div>
      </a>
<div class="movie-detail movie-detail-strong movie-sale">
  <a href="/cinemas?movieId=343720"
  class="active" target="_blank" data-act="salePlayingMovie-click" data-val="{movieid:343720}" >购 票</a>
</div>
      <div class="movie-ver"></div>
    </div>
  
  <dd>
    <div class="movie-item">
      <a href="/films/344162" target="_blank" data-act="playingMovie-click" data-val="{movieid:344162}">
      <div class="movie-poster">
        <img class="poster-default" src="/static/picture/loading_2.e3d934bf.png" />
        <img data-src="/static/picture/50fc70e63364f92ff540ef02d26f8102631867.jpg@160w_220h_1e_1c" />
        <div class="movie-overlay movie-overlay-bg">
          <div class="movie-info">
            <div class="movie-title"
              title="脱单告急" >脱单告急</div>
          </div>
        </div>
      </div>
      </a>
<div class="movie-detail movie-detail-strong movie-sale">
  <a href="/cinemas?movieId=344162"
  class="active" target="_blank" data-act="salePlayingMovie-click" data-val="{movieid:344162}" >购 票</a>
</div>
      <div class="movie-ver"></div>
    </div>
  
  <dd>
    <div class="movie-item">
      <a href="/films/338426" target="_blank" data-act="playingMovie-click" data-val="{movieid:338426}">
      <div class="movie-poster">
        <img class="poster-default" src="/static/picture/loading_2.e3d934bf.png" />
        <img data-src="/static/picture/d246750ce2b31a8fdbb656677770d6231487170.jpg@160w_220h_1e_1c" />
        <div class="movie-overlay movie-overlay-bg">
          <div class="movie-info">
            <div class="movie-score"><i class="integer">6.</i><i class="fraction">9</i></div>
            <div class="movie-title movie-title-padding"
              title="湮灭" >湮灭</div>
          </div>
        </div>
      </div>
      </a>
<div class="movie-detail movie-detail-strong movie-sale">
  <a href="/cinemas?movieId=338426"
  class="active" target="_blank" data-act="salePlayingMovie-click" data-val="{movieid:338426}" >购 票</a>
</div>
      <div class="movie-ver"></div>
    </div>
  
  <dd>
    <div class="movie-item">
      <a href="/films/344950" target="_blank" data-act="playingMovie-click" data-val="{movieid:344950}">
      <div class="movie-poster">
        <img class="poster-default" src="/static/picture/loading_2.e3d934bf.png" />
        <img data-src="/static/picture/8b154402ef3ac5d59e4a89649f4f5190375170.jpg@160w_220h_1e_1c" />
        <div class="movie-overlay movie-overlay-bg">
          <div class="movie-info">
            <div class="movie-title"
              title="21克拉" >21克拉</div>
          </div>
        </div>
      </div>
      </a>
<div class="movie-detail movie-detail-strong movie-sale">
  <a href="/cinemas?movieId=344950"
  class="active" target="_blank" data-act="salePlayingMovie-click" data-val="{movieid:344950}" >购 票</a>
</div>
      <div class="movie-ver"></div>
    </div>
  
  <dd>
    <div class="movie-item">
      <a href="/films/346637" target="_blank" data-act="playingMovie-click" data-val="{movieid:346637}">
      <div class="movie-poster">
        <img class="poster-default" src="/static/picture/loading_2.e3d934bf.png" />
        <img data-src="/static/picture/f5f1ae37ae1043109793655f7c6415285381332.jpg@160w_220h_1e_1c" />
        <div class="movie-overlay movie-overlay-bg">
          <div class="movie-info">
            <div class="movie-title"
              title="幕后玩家" >幕后玩家</div>
          </div>
        </div>
      </div>
      </a>
<div class="movie-detail movie-detail-strong movie-sale">
  <a href="/cinemas?movieId=346637"
  class="active" target="_blank" data-act="salePlayingMovie-click" data-val="{movieid:346637}" >购 票</a>
</div>
      <div class="movie-ver"></div>
    </div>
  
  <dd>
    <div class="movie-item">
      <a href="/films/881837" target="_blank" data-act="playingMovie-click" data-val="{movieid:881837}">
      <div class="movie-poster">
        <img class="poster-default" src="/static/picture/loading_2.e3d934bf.png" />
        <img data-src="/static/picture/cf9ff1aad19254d99aae31cd53065a271370654.jpg@160w_220h_1e_1c" />
        <div class="movie-overlay movie-overlay-bg">
          <div class="movie-info">
            <div class="movie-score"><i class="integer">9.</i><i class="fraction">0</i></div>
            <div class="movie-title movie-title-padding"
              title="起跑线" >起跑线</div>
          </div>
        </div>
      </div>
      </a>
<div class="movie-detail movie-detail-strong movie-sale">
  <a href="/cinemas?movieId=881837"
  class="active" target="_blank" data-act="salePlayingMovie-click" data-val="{movieid:881837}" >购 票</a>
</div>
      <div class="movie-ver"></div>
    </div>
  
</dl>


    </div>
  </div>

  <div class="panel">
    <div class="panel-header">
      <span class="panel-more">
        <a href="/films?showType=2" class="textcolor_blue" data-act="all-upcomingMovie-click">
          <span>全部</span>
        </a>
        <span class="panel-arrow panel-arrow-blue"></span>
      </span>
      <span class="panel-title">
        <span class="textcolor_blue">即将上映（257部）</span>
      </span>
    </div>
    <div class="panel-content">
            <dl class="movie-list">
  <dd>
    <div class="movie-item">
      <a href="/films/1218422" target="_blank" data-act="upcomingMovie-click" data-val="{movieid:1218422}">
      <div class="movie-poster">
        <img class="poster-default" src="/static/picture/loading_2.e3d934bf.png" />
        <img data-src="/static/picture/cdb8dd6fb6746c55cffe9849c23327572616404.jpg@160w_220h_1e_1c" />
        <div class="movie-overlay movie-overlay-bg">
          <div class="movie-info">
            <div class="movie-title"
              title="壹号别墅" >壹号别墅</div>
          </div>
        </div>
      </div>
      </a>
<div class="movie-detail movie-wish"><span class="stonefont">&#xe02e;&#xe02e;&#xe704;&#xef9a;</span>人想看</div>
<div class="movie-detail movie-detail-strong movie-presale">
  <a class="movie-presale-sep">预告片
  </a><a href="/cinemas?movieId=1218422"
  class="active" target="_blank"  data-act="presaleUpcomingMovie-click" data-val="{movieid:1218422}">预 售</a>
</div>
      <div class="movie-ver"></div>
    </div>
    <div class="movie-detail movie-rt">4月19日上映</div>
  
  <dd>
    <div class="movie-item">
      <a href="/films/344950" target="_blank" data-act="upcomingMovie-click" data-val="{movieid:344950}">
      <div class="movie-poster">
        <img class="poster-default" src="/static/picture/loading_2.e3d934bf.png" />
        <img data-src="/static/picture/8b154402ef3ac5d59e4a89649f4f5190375170.jpg@160w_220h_1e_1c" />
        <div class="movie-overlay movie-overlay-bg">
          <div class="movie-info">
            <div class="movie-title"
              title="21克拉" >21克拉</div>
          </div>
        </div>
      </div>
      </a>
<div class="movie-detail movie-wish"><span class="stonefont">&#xe6da;&#xe6da;&#xeae0;&#xe6da;&#xe02e;&#xe6da;</span>人想看</div>
<div class="movie-detail movie-detail-strong movie-presale">
  <a class="movie-presale-sep">预告片
  </a><a href="/cinemas?movieId=344950"
  class="active" target="_blank"  data-act="presaleUpcomingMovie-click" data-val="{movieid:344950}">预 售</a>
</div>
      <div class="movie-ver"></div>
    </div>
    <div class="movie-detail movie-rt">4月20日上映</div>
  
  <dd>
    <div class="movie-item">
      <a href="/films/344162" target="_blank" data-act="upcomingMovie-click" data-val="{movieid:344162}">
      <div class="movie-poster">
        <img class="poster-default" src="/static/picture/loading_2.e3d934bf.png" />
        <img data-src="/static/picture/50fc70e63364f92ff540ef02d26f8102631867.jpg@160w_220h_1e_1c" />
        <div class="movie-overlay movie-overlay-bg">
          <div class="movie-info">
            <div class="movie-title"
              title="脱单告急" >脱单告急</div>
          </div>
        </div>
      </div>
      </a>
<div class="movie-detail movie-wish"><span class="stonefont">&#xe02e;&#xef62;&#xeae0;&#xef9a;&#xf50b;</span>人想看</div>
<div class="movie-detail movie-detail-strong movie-presale">
  <a class="movie-presale-sep">预告片
  </a><a href="/cinemas?movieId=344162"
  class="active" target="_blank"  data-act="presaleUpcomingMovie-click" data-val="{movieid:344162}">预 售</a>
</div>
      <div class="movie-ver"></div>
    </div>
    <div class="movie-detail movie-rt">4月20日上映</div>
  
  <dd>
    <div class="movie-item">
      <a href="/films/337093" target="_blank" data-act="upcomingMovie-click" data-val="{movieid:337093}">
      <div class="movie-poster">
        <img class="poster-default" src="/static/picture/loading_2.e3d934bf.png" />
        <img data-src="/static/picture/af99d1c23bc18d189883a17c438202311939935.jpg@160w_220h_1e_1c" />
        <div class="movie-overlay movie-overlay-bg">
          <div class="movie-info">
            <div class="movie-title"
              title="龙在哪里？" >龙在哪里？</div>
          </div>
        </div>
      </div>
      </a>
<div class="movie-detail movie-wish"><span class="stonefont">&#xeae0;&#xeae0;&#xf17b;&#xe704;&#xf076;</span>人想看</div>
<div class="movie-detail movie-detail-strong movie-presale">
  <a class="movie-presale-sep">预告片
  </a><a href="/cinemas?movieId=337093"
  class="active" target="_blank"  data-act="presaleUpcomingMovie-click" data-val="{movieid:337093}">预 售</a>
</div>
      <div class="movie-ver"><i class="m3d"></i></div>
    </div>
    <div class="movie-detail movie-rt">4月20日上映</div>
  
  <dd>
    <div class="movie-item">
      <a href="/films/1199188" target="_blank" data-act="upcomingMovie-click" data-val="{movieid:1199188}">
      <div class="movie-poster">
        <img class="poster-default" src="/static/picture/loading_2.e3d934bf.png" />
        <img data-src="/static/picture/d848fc22146ad0c6685fa24ab25962702553619.jpg@160w_220h_1e_1c" />
        <div class="movie-overlay movie-overlay-bg">
          <div class="movie-info">
            <div class="movie-title"
              title="犬之岛" >犬之岛</div>
          </div>
        </div>
      </div>
      </a>
<div class="movie-detail movie-wish"><span class="stonefont">&#xe6da;&#xe8c0;&#xe02e;&#xe704;&#xf17b;</span>人想看</div>
<div class="movie-detail movie-detail-strong movie-presale">
  <a class="movie-presale-sep">预告片
  </a><a href="/cinemas?movieId=1199188"
  class="active" target="_blank"  data-act="presaleUpcomingMovie-click" data-val="{movieid:1199188}">预 售</a>
</div>
      <div class="movie-ver"></div>
    </div>
    <div class="movie-detail movie-rt">4月20日上映</div>
  
  <dd>
    <div class="movie-item">
      <a href="/films/1218563" target="_blank" data-act="upcomingMovie-click" data-val="{movieid:1218563}">
      <div class="movie-poster">
        <img class="poster-default" src="/static/picture/loading_2.e3d934bf.png" />
        <img data-src="/static/picture/dd10768a761af3cbb7edc80b720e4acc2379403.jpg@160w_220h_1e_1c" />
        <div class="movie-overlay movie-overlay-bg">
          <div class="movie-info">
            <div class="movie-title"
              title="求求你爱上我" >求求你爱上我</div>
          </div>
        </div>
      </div>
      </a>
<div class="movie-detail movie-wish"><span class="stonefont">&#xef62;&#xe6da;&#xeae0;&#xe02e;</span>人想看</div>
<div class="movie-detail movie-detail-strong movie-presale">
  <a class="movie-presale-sep">预告片
  </a><a href="/cinemas?movieId=1218563"
  class="active" target="_blank"  data-act="presaleUpcomingMovie-click" data-val="{movieid:1218563}">预 售</a>
</div>
      <div class="movie-ver"></div>
    </div>
    <div class="movie-detail movie-rt">4月20日上映</div>
  
  <dd>
    <div class="movie-item">
      <a href="/films/1207100" target="_blank" data-act="upcomingMovie-click" data-val="{movieid:1207100}">
      <div class="movie-poster">
        <img class="poster-default" src="/static/picture/loading_2.e3d934bf.png" />
        <img data-src="/static/picture/2129e4efaea8c67a515d6bb0c50cb443992318.jpg@160w_220h_1e_1c" />
        <div class="movie-overlay movie-overlay-bg">
          <div class="movie-info">
            <div class="movie-title"
              title="米花之味" >米花之味</div>
          </div>
        </div>
      </div>
      </a>
<div class="movie-detail movie-wish"><span class="stonefont">&#xf50b;&#xf50b;&#xe8c0;&#xe704;</span>人想看</div>
<div class="movie-detail movie-detail-strong movie-presale">
  <a class="movie-presale-sep">预告片
  </a><a href="/cinemas?movieId=1207100"
  class="active" target="_blank"  data-act="presaleUpcomingMovie-click" data-val="{movieid:1207100}">预 售</a>
</div>
      <div class="movie-ver"></div>
    </div>
    <div class="movie-detail movie-rt">4月20日上映</div>
  
  <dd>
    <div class="movie-item">
      <a href="/films/346336" target="_blank" data-act="upcomingMovie-click" data-val="{movieid:346336}">
      <div class="movie-poster">
        <img class="poster-default" src="/static/picture/loading_2.e3d934bf.png" />
        <img data-src="/static/picture/1ea6eb26fdc01520ff4929ed9643559b2349217.jpg@160w_220h_1e_1c" />
        <div class="movie-overlay movie-overlay-bg">
          <div class="movie-info">
            <div class="movie-title"
              title="冰封迷案" >冰封迷案</div>
          </div>
        </div>
      </div>
      </a>
<div class="movie-detail movie-wish"><span class="stonefont">&#xe6da;&#xf50b;&#xe02e;&#xe02e;</span>人想看</div>
<div class="movie-detail movie-detail-strong movie-presale">
  <a class="movie-presale-sep">预告片
  </a><a href="/cinemas?movieId=346336"
  class="active" target="_blank"  data-act="presaleUpcomingMovie-click" data-val="{movieid:346336}">预 售</a>
</div>
      <div class="movie-ver"></div>
    </div>
    <div class="movie-detail movie-rt">4月20日上映</div>
  
</dl>


    </div>
  </div>

  <div class="panel">
    <div class="panel-header">
      <span class="panel-more">
        <a href="/films?isPlay=1" class="textcolor_red" data-act="all-hotMovie-click">
          <span>全部</span>
        </a>
        <span class="panel-arrow panel-arrow-red"></span>
      </span>
      <span class="panel-title">
        <span class="textcolor_red">热播电影</span>
      </span>
      <span class="panel-subtitle">
        <a href="/films?isPlay=1&catId=3" data-act="tag-hotMovie-click" data-val="{TagName:'爱情'}">爱情</a>
      </span>      <span class="panel-subtitle">
        <a href="/films?isPlay=1&catId=2" data-act="tag-hotMovie-click" data-val="{TagName:'喜剧'}">喜剧</a>
      </span>      <span class="panel-subtitle">
        <a href="/films?isPlay=1&catId=5" data-act="tag-hotMovie-click" data-val="{TagName:'动作'}">动作</a>
      </span>      <span class="panel-subtitle">
        <a href="/films?isPlay=1&catId=6" data-act="tag-hotMovie-click" data-val="{TagName:'恐怖'}">恐怖</a>
      </span>      <span class="panel-subtitle">
        <a href="/films?isPlay=1&catId=4" data-act="tag-hotMovie-click" data-val="{TagName:'动画'}">动画</a>
      </span>    </div>
    <div class="panel-content">
            <dl class="movie-list">
  <dd>
    <div class="movie-item">
      <a href="/films/28204" target="_blank" data-act="hotMovie-click" data-val="{movieid:28204}">
      <div class="movie-poster movie-poster-long">
        <img class="poster-default" src="/static/picture/loading_2.e3d934bf.png" />
        <img data-src="/static/picture/5127425.jpg@350w_220h_1e_1c" />
        <div class="movie-overlay movie-overlay-bg">
          <div class="movie-info">
            <div class="movie-score"><i class="integer">6.</i><i class="fraction">7</i></div>
            <div class="movie-title movie-title-padding"
              title="后来" >后来</div>
          </div>
        </div>
      </div>
      </a>
      <div class="movie-ver"></div>
    </div>
  
  <dd>
    <div class="movie-item">
      <a href="/films/78911" target="_blank" data-act="hotMovie-click" data-val="{movieid:78911}">
      <div class="movie-poster">
        <img class="poster-default" src="/static/picture/loading_2.e3d934bf.png" />
        <img data-src="/static/picture/b3c598fb997f72b2e1d07aec82a8d1d4163747.jpg@160w_220h_1e_1c" />
        <div class="movie-overlay movie-overlay-bg">
          <div class="movie-info">
            <div class="movie-score"><i class="integer">8.</i><i class="fraction">2</i></div>
            <div class="movie-title movie-title-padding"
              title="超体" >超体</div>
          </div>
        </div>
      </div>
      </a>
      <div class="movie-ver"><i class="imax3d"></i></div>
    </div>
  
  <dd>
    <div class="movie-item">
      <a href="/films/78866" target="_blank" data-act="hotMovie-click" data-val="{movieid:78866}">
      <div class="movie-poster">
        <img class="poster-default" src="/static/picture/loading_2.e3d934bf.png" />
        <img data-src="/static/picture/8472dc4708e0bbbb38cae205b76c195d362258.jpg@160w_220h_1e_1c" />
        <div class="movie-overlay movie-overlay-bg">
          <div class="movie-info">
            <div class="movie-score"><i class="integer">8.</i><i class="fraction">3</i></div>
            <div class="movie-title movie-title-padding"
              title="失孤" >失孤</div>
          </div>
        </div>
      </div>
      </a>
      <div class="movie-ver"></div>
    </div>
  
  <dd>
    <div class="movie-item">
      <a href="/films/78062" target="_blank" data-act="hotMovie-click" data-val="{movieid:78062}">
      <div class="movie-poster">
        <img class="poster-default" src="/static/picture/loading_2.e3d934bf.png" />
        <img data-src="/static/picture/__4262656__4975435.jpg@160w_220h_1e_1c" />
        <div class="movie-overlay movie-overlay-bg">
          <div class="movie-info">
            <div class="movie-score"><i class="integer">6.</i><i class="fraction">8</i></div>
            <div class="movie-title movie-title-padding"
              title="特警判官" >特警判官</div>
          </div>
        </div>
      </div>
      </a>
      <div class="movie-ver"><i class="m3d"></i></div>
    </div>
  
  <dd>
    <div class="movie-item">
      <a href="/films/224973" target="_blank" data-act="hotMovie-click" data-val="{movieid:224973}">
      <div class="movie-poster">
        <img class="poster-default" src="/static/picture/loading_2.e3d934bf.png" />
        <img data-src="/static/picture/__42975419__9836378.jpg@160w_220h_1e_1c" />
        <div class="movie-overlay movie-overlay-bg">
          <div class="movie-info">
            <div class="movie-score"><i class="integer">9.</i><i class="fraction">1</i></div>
            <div class="movie-title movie-title-padding"
              title="无间道" >无间道</div>
          </div>
        </div>
      </div>
      </a>
      <div class="movie-ver"></div>
    </div>
  
  <dd>
    <div class="movie-item">
      <a href="/films/210" target="_blank" data-act="hotMovie-click" data-val="{movieid:210}">
      <div class="movie-poster">
        <img class="poster-default" src="/static/picture/loading_2.e3d934bf.png" />
        <img data-src="/static/picture/__15320776__5923743.jpg@160w_220h_1e_1c" />
        <div class="movie-overlay movie-overlay-bg">
          <div class="movie-info">
            <div class="movie-score"><i class="integer">8.</i><i class="fraction">9</i></div>
            <div class="movie-title movie-title-padding"
              title="人在囧途" >人在囧途</div>
          </div>
        </div>
      </div>
      </a>
      <div class="movie-ver"></div>
    </div>
  
  <dd>
    <div class="movie-item">
      <a href="/films/78173" target="_blank" data-act="hotMovie-click" data-val="{movieid:78173}">
      <div class="movie-poster">
        <img class="poster-default" src="/static/picture/loading_2.e3d934bf.png" />
        <img data-src="/static/picture/__14441655__5165926.jpg@160w_220h_1e_1c" />
        <div class="movie-overlay movie-overlay-bg">
          <div class="movie-info">
            <div class="movie-score"><i class="integer">6.</i><i class="fraction">0</i></div>
            <div class="movie-title movie-title-padding"
              title="爱·你别走" >爱·你别走</div>
          </div>
        </div>
      </div>
      </a>
      <div class="movie-ver"></div>
    </div>
  
</dl>


    </div>
  </div>
    </div>
  </div>
</div>

    </div>
<div class="footer">
    <p class="friendly-links">
      违法和不良信息举报电话: 4006018900
      举报邮箱: tousujubao@meituan.com
    </p>
    <p class="friendly-links">
        友情链接 :
        <a href="http://www.meituan.com" data-query="utm_source=wwwmaoyan" target="_blank">美团网</a>
        <span></span>
        <a href="http://i.meituan.com/client" data-query="utm_source=wwwmaoyan" target="_blank">美团下载</a>
    </p>
    <p>
        &copy;2016
        猫眼电影 maoyan.com
        <a href="https://tsm.miit.gov.cn/pages/EnterpriseSearchList_Portal.aspx?type=0&keyword=京ICP证160733号&pageNo=1" target="_blank">京ICP证160733号</a>
        <a href="http://www.miibeian.gov.cn" target="_blank">京ICP备16022489号-1</a>
        京公网安备 11010502030881号
        <a href="/about/licence" target="_blank">网络文化经营许可证</a>
        <a href="http://www.meituan.com/about/rules" target="_blank">电子公告服务规则</a>
    </p>
    <p>北京猫眼文化传媒有限公司</p>
</div>

    <!--[if IE 8]><script src="/static/js/es5-shim.bbad933f.js"></script><![endif]-->
    <!--[if IE 8]><script src="/static/js/es5-sham.d6ea26f4.js"></script><![endif]-->
    <script src="/static/js/common.dc33ab40.js"></script>
<script src="/static/js/home-index.dba25347.js"></script>
</body>
</html>
